@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 119, 163);
    color: black;
}

main {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.divAltura, .divPeso, .divCalc{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button{
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

button{
    cursor: pointer;
    background-color: rgb(86, 5, 31);
    color: aliceblue;
}