* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  background: linear-gradient(rgb(230, 119, 163));
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 40px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
}

h1 {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

p {
  margin-bottom: 15px;
  font-size: 0.95rem;
}

.input-area {
  display: flex;
  gap: 10px;
  justify-content: center;
}

input {
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  width: 150px;
  font-size: 1rem;
}

button {
  background: #fff;
  color: #ffffff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin: 10px;
  transition: 0.3s;
}

button:hover {
  background: #ede9fe;
}

#resultado {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 10px;
}

#resultado p {
  font-size: 1rem;
  margin: 5px 0;
}
